<h1 class="my-5">Paiement réussi</h1>

<p>Nous avons bien reçu votre paiement de 
  <%= number_to_currency(@payment_intent.amount_received/100, unit: @payment_intent.currency, separator: ",", delimiter: "", format: "%n %u") %>.</p>

<p>Le statut de votre paiement est : Terminé avec succès</p> 
<p class="text-danger"><%= alert %></p>
<div>
 <%= link_to "Retour à l'évènement", event_path(id: @event_id) , class: "btn btn-success w-100"%>
 </div>
<!-- 
SESSION: <br>
<%= @session%>
<br>
payment_intent: <br>
<%= @payment_intent%>
<br>
Event ID: <br>
<%= @event_id%>
-->