
<%# FORMULAIRE %>
<div class="card bg-body-tertiary my-5 m-auto" style="max-width: 20rem;">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <legend class="text-center"><%= resource_name.to_s.humanize %> Connexion </legend>
     
      <%#  email %> 
      <div class="form-group required">
        <%= f.label :email , class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <%# Mot de passe %>
      <div class="form-group required">
        <%= f.label :password, class: "form-label"  %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
      
      <%# Checkbox se souvenir de moi %>
      <% if devise_mapping.rememberable? %>
        <div class="form-group mt-4">
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        </div>
      <% end %>

      <%# Bouton submit %>
      <%= f.submit "Se Connecter", class: "btn btn-success btn-block" %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div> 
</div>
