<!DOCTYPE html>
<html>
  <head>
    <title>ThpEventApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- CSS Bootstrap / bootswatch YETI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/yeti/bootstrap.min.css">
     <!-- CSS Bootstrap / bootswatch CERULEAN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/cerulean/bootstrap.min.css">
    
  </head>

  <body data-turbo="false">
    <% if admin_signed_in? %>
      <% navbar_bg_class = "bg-dark"%>
    <% else %>
      <% navbar_bg_class = "bg-primary"%>
    <% end %>
    <header>
      <%# NAVBAR %>
      <nav class="navbar navbar-expand-lg <%= navbar_bg_class %>" data-bs-theme="dark">
        <div class="container-fluid">
          <%= link_to 'Thp Event App', root_path, class: "navbar-brand"%>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to 'Accueil', root_path, class: "nav-link active"%>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'Créer un evenement', new_event_path , class: "nav-link"%>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">UTILISATEUR</a>
                  <div class="dropdown-menu">
                    <%= link_to "Voir mon profil", user_path(current_user), class: "dropdown-item" %>
                    <%= link_to "Éditer mon profil", edit_user_registration_path, class: "dropdown-item" %>
                    <div class="dropdown-divider">----</div>
                    <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item"%>
                  </div>
              <% elsif admin_signed_in? %>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ADMINISTRATEUR</a>
                  <div class="dropdown-menu">
                    <%= link_to "Dashboard", admin_path(current_admin), class: "dropdown-item" %>
                    <%= link_to "Éditer mon profil", edit_admin_registration_path, class: "dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= button_to "Se déconnecter", destroy_admin_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item"%>
                  </div>
              <% else %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Se connecter / S'inscrire</a>
                  <div class="dropdown-menu">
                      <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
                      <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
                      <div class="dropdown-divider"></div>
                      <%= link_to "Administrateur", new_admin_session_path, class: "dropdown-item" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <%# ALERTES ET NOTICES %>
      <div>
        <p class="text-success"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
    <footer>
    </footer>
      <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- STRIPE -->
    <script src="https://js.stripe.com/v3/"></script>
  </body>
</html>
